*{
	box-sizing: border-box;
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
@font-face {
    font-family: 'AGBuchBQ-Medium';
    src: url('type/agbuchbq-medium.eot');
    src: url('type/agbuchbq-medium.eot?#iefix') format('embedded-opentype'),
         url('type/agbuchbq-medium.woff') format('woff'),
         url('type/agbuchbq-medium.ttf') format('truetype'),
         url('type/agbuchbq-medium.svg#agbuchbq-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akkurat-Light';
    src: url('type/akkurat-light.eot');
    src: url('type/akkurat-light.eot?#iefix') format('embedded-opentype'),
         url('type/akkurat-light.woff') format('woff'),
         url('type/akkurat-light.ttf') format('truetype'),
         url('type/akkurat-light.svg#akkurat-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KingsCaslonDisplayTypoItalic';
    src: url('type/kingscaslondisplay_typo_it-webfont.eot');
    src: url('type/kingscaslondisplay_typo_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/kingscaslondisplay_typo_it-webfont.woff') format('woff'),
         url('type/kingscaslondisplay_typo_it-webfont.ttf') format('truetype'),
         url('type/kingscaslondisplay_typo_it-webfont.svg#KingsCaslonDisplayTypoItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@include placeholder {
   	color: #151515;
}
body{
	overflow: hidden;
    font-family: 'AGBuchBQ-Medium', Helvetica, Arial, sans-serif;
    color: #151515;
}
em{
    font-family: 'KingsCaslonDisplayTypoItalic', Times, Times New Roman, Georgia, serif;
}
.todo{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	background: #fefecc;
	form{
		background: #fff76b;
		height: 7rem;
		display: flex;
		border-top: 1px solid #151515;
		padding: 1rem;
		input{
			height: 3rem;
			width: 100%;
			line-height: 3rem;
			padding: 0 1rem;
			border: 1px solid #151515;
			border-right: 0;
			background: transparent;
			&:focus{
				outline: none;

			}
		}

		button{
			height: 3rem;
			width: 3rem;
			line-height: 3rem;
			overflow: hidden;
			border: 0;
		    margin: 0;
		    padding: 0;
		    display: block;
		    border: 1px solid #151515;
		    background: #fff76b;
		    box-shadow: 2px 2px 0px #151515;
	        transition: all 0.3s ease-in-out;
		    &:hover, &:focus{
				box-shadow: 1px 1px 0px #151515;
			    outline: none;
		    }
		}
	}
	ol{
		height: 100%;
		overflow: scroll;
		list-style: none;
		margin: 0;
		padding: 0;
		counter-reset: todo;
	}
	li{
		display: flex;
		align-items: center;
		padding-left: .5rem;
		&[data-complete="true"]{
			background: rgba(#7D9D72, 0.2);
			label{
				opacity: 0.5;
			}
		}

		span.checkbox{
			
			position: relative;
			display: inline-block;
			height: 1.5rem;
			width: 1.5rem;
			input{
				position: absolute;
				opacity: 0;
				top: 0;
				left: 0;
				&:checked + svg .tick{
					opacity: 1;
				}
			}
			svg{
				height: 1.5rem;
				width: 1.5rem;
				pointer-events: none;
				.tick{
					opacity: 0;
					fill: #fff76b;
				}
			}

			
		}
		label{
			width: calc(100% - 3rem);
		}
		span.delete{
			display: block;
			height: 48px;
			width: 48px;
			cursor: pointer;
			position: relative;
			svg{
				pointer-events: none;
				width: 1rem;
				height: 1rem;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
			}
			&:hover{
				svg path{
					fill: #d00;
				}
			}
		}
		
		span.label{
			overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    width: calc(100% - 4rem);
		    display: inline-block;
		    line-height: 1.5rem;
		    padding: 0 0.5rem;
			em,del{
				overflow: visible;
				display: inline-block;
				position: relative;
			}
		}
	}
}
.quit{
	position: absolute;
	bottom: 0;
	z-index: 2;
	button{
		position: relative;
		background: #fff76b;
		width: 4rem;
		border:1px solid #151515;
		left: -4rem;
		padding: 0.2rem 0;
		transition: all 0.3s linear 0s;
		&:hover, &:focus{
			left: 0;
			outline: 0;
		}
		&:after{
			width: 0.4rem;
			content: '\025B8';
			position: absolute;
			left: 100%;
		}
	}
}
